body{
    background: silver;
}
h2{
    background: aqua;
    text-align: center;

}
a{
    text-decoration: none;
    color: black;


}
p{
    color: white;
}
.family{color: yellow}

.fam{
    display: block;
    margin: 0 auto;

}