.father {
    margin: 0 auto;
    width: 80vw;
    height: 80vh;
    border:3px solid black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;


}

.icon {
    width: 90px;
    height: 90px;
    border: 2px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    position: absolute;
    top: -45px;
    background: white;



}
.card {
    width: 350px;
    height: 450px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.card p {
   padding: 0 20px 0 20px;
}
.btn {
    width: 200px;
    height: 50px;
    background: silver;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin-top: 30px;
}
.btn:hover{
    background: white;
    color: black;
}
